**/.git
**/.gitignore
**/.vscode
**/.vs
**/bin
**/obj
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/README.md
**/.env
**/.env.*
!**/.env.example
**/appsettings.local.json
**/secrets.json
**/*.md
**/*.log
**/logs
